mail	User ID
sn	Family Name
givenName	Given Name
msDS-PhoneticLastName	Family Name Yomi
msDS-PhoneticFirstName	Given Name Yomi
company	Company
msDS-PhoneticCompanyName	Company Yomi
groupMail	Department Email
groupCN	Department
	Job Title
	Birthday
	Business Address
	Business Phone
	Business Phone Extension
	Business Fax
	Mobile Phone
mail	E-mail Address
	E-mail 2 Address
	E-mail 3 Address
EmployeeNumber	Employee Number
msDS-cloudExtensionAttribute1	Display
msDS-cloudExtensionAttribute2	Calendar Enabled
msDS-cloudExtensionAttribute3	Contacts Enabled
msDS-cloudExtensionAttribute4	Workflow Enabled
msDS-cloudExtensionAttribute5	Attendance Enabled 
msDS-cloudExtensionAttribute6	Board Enabled
msDS-cloudExtensionAttribute7	Expense Enabled
